@model BugTracker.Models.Ticket
@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using System.Collections.Generic

@{
    ViewBag.Title = "Details";
}
@{
    var tickethelper = new TicketHelper();
    var projhelper = new ProjectHelper();
    var rolehelper = new UserRolesHelper();
}
<link href="~/Content/Buttonfaker.css" rel="stylesheet" />


<section id="widget-grid">
    <div class="col-lg-12 well">
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-4 col-md-4 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="ProjectManagers" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i></i> </span>
                        <h2>Project Manager</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Project Manager</legend>
                                    <div class="form-group">
                                        <div class="well">
                                            @{
                                                foreach (var user in projhelper.UsersOnProject(Model.ProjectId).ToList())
                                                {
                                                    if (rolehelper.IsUserInRole(user.Id, "Project Manager"))
                                                    {
                                                        @user.DisplayName<br />
                                                    }
                                                }
                                            }
                                        </div>
                                        @*@Html.ListBox("Pms", null, htmlAttributes: new { @class = "form-control noscroll" })*@
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
            <!-- NEW WIDGET START -->
            <article class="col-sm-4 col-md-4 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="Developers" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i></i> </span>
                        <h2>Developer</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Developer</legend>
                                    <div class="form-group">
                                        <div class="well">
                                            @if (Model.AssignedToUserId == null)
                                            {
                                                <label></label>
                                            }
                                            @if (Model.AssignedToUser != null)
                                            {
                                                <label>@Model.AssignedToUser.DisplayName</label>
                                            }
                                        </div>
                                        <br />
                                        @if ((User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId))) || (User.IsInRole("Admin")))
                                        {
                                            <button class="btn btn-primary">
                                                @Html.ActionLink("Add/Change Dev", "AssignDev", "Tickets", new { id = Model.Id }, new { Style = "color:White;" })
                                            </button>
                                        }
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
            <!-- NEW WIDGET START -->
            <article class="col-sm-4 col-md-4 col-lg-4">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="Submitters" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i></i> </span>
                        <h2>Submitter</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Submitter</legend>
                                    <div class="form-group">
                                        <div class="well">
                                            <label>@Model.OwnerUser.DisplayName</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
    </div>
    <div class="col-lg-12 well">
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i></i> </span>
                        <h2></h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            @*<form class="form-horizontal">*@

                            <fieldset>
                                <legend>Ticket Details</legend>
                                <div class="row">

                                    <div class="col-md-2 col-md-offset-1 no-offset">
                                        <h3 class="no-offset">Project Name:</h3>
                                    </div>
                                    <div class="col-md-2 well">
                                        @Html.ActionLink(Model.Project.Name, "MyProjects", "Projects", null, new { Style = "color:Black;" })
                                    </div>
                                    <div class="col-md-2 col-md-offset-1 no-offset">
                                        <h3 class="no-offset">Ticket Title:</h3>
                                    </div>
                                    <div class="col-md-2 well">
                                        @Model.Title
                                    </div>
                                    <div class="col-md-8"></div>

                                </div>
                                <div class="row">

                                    @using (Html.BeginForm("EditStatus", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("Id", Model.Id)
                                        @Html.Hidden("Title", Model.Title)
                                        @Html.Hidden("Description", Model.Description)
                                        var userId = User.Identity.GetUserId();

                                        if (User.IsInRole("Developer") && (Model.AssignedToUserId == userId) && Model.TicketStatus.Name != "Closed")
                                        {
                                            <div class="col-md-2 col-md-offset-1 no-offset">
                                                <h3 class="no-offset">Ticket Status:</h3>
                                            </div>
                                            <div class="well col-md-2">
                                                @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-save"></i>
                                                    Submit
                                                </button>
                                            </div>
                                        }

                                        if (User.IsInRole("Submitter") || (User.IsInRole("Project Manager") && (!projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId))) || (User.IsInRole("Developer") && (Model.AssignedToUserId != userId)) || (User.IsInRole("Admin") && Model.TicketStatus.Name != "Closed") || (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name == "Closed") || (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name != "Closed" && Model.TicketStatus.Name != "Resolved"))
                                        {
                                            <div class="col-md-2 col-md-offset-1 no-offset">
                                                <h3 class="no-offset">Ticket Status:</h3>
                                            </div>
                                            <div class="col-md-2 well"> @Model.TicketStatus.Name</div>
                                        }
                                    }

                                    @using (Html.BeginForm("CloseStatus", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("Id", Model.Id)
                                        @Html.Hidden("Title", Model.Title)
                                        @Html.Hidden("Description", Model.Description)
                                        @Html.Hidden("TicketStatusId", Model.TicketStatusId)
                                        var userId = User.Identity.GetUserId();

                                        if (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name == "Resolved")
                                        {
                                            <div class="col-md-2 col-md-offset-1 no-offset">
                                                <h3 class="no-offset">Ticket Status: </h3>
                                            </div>
                                            <div class="well col-md-2">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-save"></i>
                                                    Close Ticket
                                                </button>
                                            </div>
                                        }


                                    }

                                    @using (Html.BeginForm("ReopenStatus", "Tickets", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("Id", Model.Id)
                                        @Html.Hidden("Title", Model.Title)
                                        @Html.Hidden("Description", Model.Description)
                                        @Html.Hidden("TicketStatusId", Model.TicketStatusId)
                                        var userId = User.Identity.GetUserId();

                                        if (User.IsInRole("Admin")  && Model.TicketStatus.Name == "Closed")
                                        {
                                            <div class="col-md-2 col-md-offset-1 no-offset">
                                                <h3 class="no-offset">Ticket Status: </h3>
                                            </div>
                                            <div class="well col-md-2">
                                                <button class="btn btn-primary" type="submit">
                                                    <i class="fa fa-save"></i>
                                                    ReOpen Ticket
                                                </button>
                                            </div>
                                        }


                                    }
                                    <div class="col-md-2 col-md-offset-1 no-offset">
                                        <h3 class="no-offset">Ticket Type:</h3>
                                    </div>
                                    <div class="col-md-2 well"> @Model.TicketType.Name</div>

                                </div>
                                <div class="row">
                                    @{
                                        var created = Model.Created.ToString().Split(' ');
                                        var updated = Model.Updated.ToString().Split(' ');

                                    }
                                    <div class="col-md-2 col-md-offset-1 no-offset">
                                        <h3 class="no-offset">Date Created:</h3>
                                    </div>
                                    <div class="col-md-2 well"> @created[0] &#64; @created[1] @created[2]</div>
                                    <div class="col-md-2 col-md-offset-1 no-offset">
                                        <h3 class="no-offset">Ticket Priority:</h3>
                                    </div>
                                    <div class="col-md-2 well"> @Model.TicketPriority.Name</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1 no-offset-2">
                                        <h3 class="no-offset-2">Ticket Description:</h3>
                                    </div>
                                    <div class=" col-md-8 well">@Model.Description</div>
                                </div>
                            </fieldset>
                            <br />
                            @if (User.IsInRole("Admin") || (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId))) || (User.IsInRole("Developer") && (Model.AssignedToUserId == User.Identity.GetUserId())) || (User.IsInRole("Submitter") && (Model.OwnerUserId == User.Identity.GetUserId())))
                            {
                                <div>
                                    <button type = "button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#History">Ticket History</button>
                                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#Notification">Ticket Notifications</button>
                                </div>
                            }
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-default">
                                            @Html.ActionLink("Back", "Details", "Projects", new { id = Model.ProjectId }, null)
                                        </button>
                                        @if ((User.IsInRole("Developer") && (Model.AssignedToUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Submitter") && (Model.OwnerUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Admin") && Model.TicketStatus.Name != "Closed"))
                                        {
                                            <button class="btn btn-primary">
                                                @Html.ActionLink("Edit", "Edit", "Tickets", new { id = Model.Id }, new { Style = "color:White;" })
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 well">
            <h2 class="Title">Attachments</h2>
            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="Attachments" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-file-zip-o"></i> </span>
                            <h2>Attachments</h2>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body  no-overflow">

                                <form class="form-horizontal">

                                    <fieldset id="Attachment">
                                        @foreach (var attach in Model.TicketAttachments.OrderByDescending(p => p.Created))
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="blog-post-content">

                                                        @{
                                                            var comdateArray = attach.Created.ToString().Split(' ');
                                                        }
                                                        <span class="blog-post-date pull-left">Created By: @attach.User.DisplayName</span>
                                                        <span class="blog-post-date pull-right"> @comdateArray[0] &#64; @comdateArray[1] @comdateArray[2]</span>
                                                        <br />
                                                        <br />
                                                        <div class="well">
                                                            @if (attach.FilePath != null)
                                                            {
                                                                // I will need to make this button active for the File path of the attachment.
                                                                // I would like some sort of pop up that will allow the user to view the file to appear
                                                                var icon = Path.GetExtension(attach.FilePath);

                                                                <table>
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <a class="btn bg-color-darken txt-color-white" href="@attach.FilePath" download="@attach.FilePath.ToString().Split('/')[2]">@attach.FilePath.ToString().Split('/')[2]</a>
                                                                            </td>
                                                                            <td style="min-width:20px;">
                                                                                @if (icon == ".ai")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/ai.png" alt="ai file" />
                                                                                }
                                                                                @if (icon == ".bmp")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/bmp.png" alt="bmp file" />
                                                                                }
                                                                                @if (icon == ".doc")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/doc.png" alt="doc file" />
                                                                                }
                                                                                @if (icon == ".docx")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/docx.png" alt="docx file" />
                                                                                }
                                                                                @if (icon == ".docx")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/docx.png" alt="docx file" />
                                                                                }
                                                                                @if (icon == ".gif")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/gif.png" alt="gif file" />
                                                                                }
                                                                                @if (icon == ".jpg")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/jpg.png" alt="jpg file" />
                                                                                }
                                                                                @if (icon == ".ods")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/ods.png" alt="ods file" />
                                                                                }
                                                                                @if (icon == ".pdf")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/pdf.png" alt="pdf file" />
                                                                                }
                                                                                @if (icon == ".png")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/png.png" alt="png file" />
                                                                                }
                                                                                @if (icon == ".PNG")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/png.png" alt="png file" />
                                                                                }
                                                                                @if (icon == ".pps")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/pps.png" alt="pps file" />
                                                                                }
                                                                                @if (icon == ".ppt")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/ppt.png" alt="ppt file" />
                                                                                }
                                                                                @if (icon == ".rar")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/rar.png" alt="rar file" />
                                                                                }
                                                                                @if (icon == ".rtf")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/rtf.png" alt="rtf file" />
                                                                                }
                                                                                @if (icon == ".xls")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/xls.png" alt="xls file" />
                                                                                }
                                                                                @if (icon == ".xlsx")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/xlsx.png" alt="xlsx file" />
                                                                                }
                                                                                @if (icon == ".zip")
                                                                                {
                                                                                    <img class="img-responsive" src="~/Images/zip.png" alt="zip file" />
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                @*<a class="btn bg-color-darken txt-color-white" href="@attach.FilePath" download="@attach.FilePath.ToString().Split('/')[2]">@attach.FilePath.ToString().Split('/')[2]</a>*@
                                                                <br />
                                                                <img class="img-responsive" src="@attach.FilePath" alt="" height="400" width="400" />
                                                                <br />
                                                            }
                                                            <p>@Html.Raw(attach.Description)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            @if ((User.IsInRole("Developer") && (Model.AssignedToUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
        (User.IsInRole("Submitter") && (Model.OwnerUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
        (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name != "Closed") ||
        (User.IsInRole("Admin") && Model.TicketStatus.Name != "Closed"))
            {

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blueDark" id="AttachWid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-file-zip-o"></i> </span>
                                <h2>Add an Attachment</h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">

                                    @*<form class="form-horizontal">*@

                                    <fieldset>
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="blog-post-content">

                                                    <h3>Add an Attachment:</h3>
                                                    @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                                    {

                                                        @Html.AntiForgeryToken()
                                                        @Html.Hidden("TicketId", Model.Id)

                                                        <div class="form-group">
                                                            @Html.Label("File Path", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                <input name="image" type="file" class="form-control" id="fileUpload" />
                                                                @Html.ValidationMessage("FilePath", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <div class="form-group">
                                                            @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-md-10">
                                                                @Html.TextArea("Description", "", new { @class = "form-control", @value = "" })
                                                                @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <br />
                                                        <div class="row">
                                                            <div class="col-md-12">

                                                                &#160; <button class="btn btn-primary" type="submit">
                                                                    <i class="fa fa-save"></i>
                                                                    Submit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    @*</form>*@

                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            }
        </div>
        <div class="col-md-6 well">
            <h2 class="Title">Comments</h2>
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="Comments" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                        <!-- widget options:
                         usage: <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">
                         data-widget-colorbutton="false"
                         data-widget-editbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-custombutton="false"
                         data-widget-collapsed="true"
                         data-widget-sortable="false"
                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                            <h2>Comments</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body  no-overflow">
                                <form class="form-horizontal">
                                    <fieldset id="Comment">
                                        @foreach (var comment in Model.TicketComments.OrderByDescending(p => p.Created))
                                        {
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="blog-post-content">

                                                        @{
                                                            var comdateArray = comment.Created.ToString().Split(' ');
                                                        }
                                                        <span class="blog-post-date pull-left">Created By: @comment.User.DisplayName</span>
                                                        <span class="blog-post-date pull-right"> @comdateArray[0] &#64; @comdateArray[1] @comdateArray[2]</span>
                                                        <br />
                                                        <br />
                                                        <div class="well">
                                                            <p>@Html.Raw(comment.CommentBody)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            @if ((User.IsInRole("Developer") && (Model.AssignedToUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Submitter") && (Model.OwnerUserId == User.Identity.GetUserId()) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Project Manager") && (projhelper.IsUserOnProject(User.Identity.GetUserId(), Model.ProjectId)) && Model.TicketStatus.Name != "Closed") ||
                                        (User.IsInRole("Admin") && Model.TicketStatus.Name != "Closed"))
            {

                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blueDark" id="CommWid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-collapsed="true">
                            <!-- widget options:
                             usage: <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">
                             data-widget-colorbutton="false"
                             data-widget-editbutton="false"
                             data-widget-togglebutton="false"
                             data-widget-deletebutton="false"
                             data-widget-fullscreenbutton="false"
                             data-widget-custombutton="false"
                             data-widget-collapsed="true"
                             data-widget-sortable="false"
                            -->
                            <header>
                                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                                <h2>Add a Comment</h2>
                            </header>
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body">
                                    @*<form class="form-horizontal">*@
                                    <fieldset>
                                        <div class="panel panel-default">

                                            <div class="blog-post-content">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="blog-post-content">
                                                            <h3>Create a Comment:</h3>
                                                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("TicketId", Model.Id)

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        @Html.TextArea("CommentBody", "", new { @class = "form-control", @value = "" })
                                                                        @Html.ValidationMessage("CommentBody", "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <br />
                                                                <br />
                                                                <div class="row">
                                                                    <div class="col-md-12">

                                                                        &#160; <button class="btn btn-primary" type="submit">
                                                                            <i class="fa fa-save"></i>
                                                                            Submit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </article>
                </div>


            }

        </div>
    </div>
    <div id="History" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Ticket History:</h4>
                </div>
                <div class="modal-body">


                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blueDark" id="HistoryWid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
                                <span class="widget-icon"> <i></i> </span>
                                <h2></h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body  no-overflow">


                                    <fieldset>
                                        @using (Html.BeginForm("Index", "TicketHistories", FormMethod.Post))
                                        {
                                            foreach (var item in Model.TicketHistories.OrderByDescending(t => t.Changed))
                                            {

                                                var date = item.Changed.ToString().Split(' ');

                                                <div class="row ">
                                                    <div class="col-md-6 well">
                                                        <h4>Edited by:</h4><label> &#160;@item.User.DisplayName</label>
                                                        <h4>Edited on:</h4><label> &#160;@date[0] &#64 @date[1]  @date[2]</label>
                                                        <h4>Property Changed:</h4><label> &#160; @item.Property</label>

                                                    </div>
                                                    <div class="col-md-6 well" id="longer-well">

                                                        <label>&#160; </label> <br />
                                                        <h4>Old Value:</h4><label> &#160; @item.OldValue</label> <br />
                                                        <h4>New Value:</h4><label> &#160; @item.NewValue</label> <br />
                                                        <label>&#160; </label> <br />

                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                            }
                                        }
                                    </fieldset>


                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="Notification" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" align="center">Ticket Notifications:</h4>
                </div>
                <div class="modal-body">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blueDark" id="NotificationWid" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <!-- widget options:
                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                            data-widget-colorbutton="false"
                            data-widget-editbutton="false"
                            data-widget-togglebutton="false"
                            data-widget-deletebutton="false"
                            data-widget-fullscreenbutton="false"
                            data-widget-custombutton="false"
                            data-widget-collapsed="true"
                            data-widget-sortable="false"

                            -->
                            <header>
                                <span class="widget-icon"> <i></i> </span>
                                <h2></h2>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-overflow">


                                    <fieldset>
                                        @using (Html.BeginForm("Index", "TicketNotifications", FormMethod.Post))
                                        {
                                            foreach (var item in Model.TicketNotifications.OrderByDescending(t => t.Id))
                                            {

                                                <div class="row well">
                                                    <div class="col-md-12">
                                                        @Html.Raw(item.Body)
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                            }
                                        }
                                    </fieldset>


                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
